<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="myte" connectionString="Data Source=vrtva4608.ds.dev.accenture.com; initial catalog=Dev_Int;Persist Security Info=True;User ID=myte;Password=myte;application name=myte_peoplepicker_webservice_devint;Connect Timeout=5;Max Pool Size=200" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <applicationSettings>
    <Accenture.CIO.AuthenticationFilters.Settings>
      <setting  name="EnableBasicAuth"  xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">True</value>
      </setting>
      <setting  name="UppercaseUsernames" xdt:Locator="Match(name)">
        <value>
          <ArrayOfString>
            <string xdt:Transform="RemoveAll" />
            <string xdt:Transform="Insert">DS\MYTE_APP_ID</string>
          </ArrayOfString>
        </value>
      </setting>
    </Accenture.CIO.AuthenticationFilters.Settings>
  </applicationSettings>
  
  <system.webServer>
    <security xdt:Transform="Insert" >
      <authentication>
        <anonymousAuthentication enabled="true" />
        <basicAuthentication enabled="false" />
      </authentication>
      <authorization>
        <clear />
        <add accessType="Allow" users="*" />
      </authorization>
    </security>
  </system.webServer>
</configuration>